<h2>Créer un Job</h2>

<form (ngSubmit)="submitJob()">

<label>Titre</label>
<input type="text" [(ngModel)]="job.title" name="title" required>

<label>Description</label>
<textarea [(ngModel)]="job.description" name="description"></textarea>

<label>Budget</label>
<input type="number" [(ngModel)]="job.budget" name="budget">

<label>Catégorie</label>
<input type="text" [(ngModel)]="job.category" name="category">

<button type="submit">Publier</button>

</form>
<!--Gestion d'erreurs-->
<p *ngIf="message">
  {{ message }}
</p>
